#[kn-widget-id] .header {
	background-color: #FFFFFF;
	padding: 0 20px 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#[kn-widget-id] .header .icon {
    width: 200px;
  	margin-right: 30px
}
#[kn-widget-id] .header .title {
    font-size: 27px;
    font-weight: bold;
    color: #333333; /* Cinza escuro */
    margin-bottom: 5px;
}
#[kn-widget-id] .header .subtitle {
    font-size: 18px;
    color: #777777; /* Cinza claro */
}